{# jinja does not like braces being used #}
{% raw %}
{
	"logging": {
		"logs": {
			"default": {
				"writer": {
					"output": "stdout"
				},
				"level": "DEBUG"
			}
		}
	},
	"apps": {
		"http": {
			"servers": {
{% endraw %}
				{% set grouped_vhosts = vhosts | groupby('port') %}
				{% for shared_port, hosts in grouped_vhosts %}
				"srv{{ loop.index0 }}": {{ '{' }}
					"listen": [
						":{{ shared_port }}"
					],
					"routes": [
						{% for vhost in hosts %}
						{{ '{' }}	
							"match": [
							{{ '{' }}	
									"host": [
										"{{ vhost.hostname }}"
									]
							{{ '}' }}	
							],
							"handle": [
							{{ '{' }}	
									"handler": "subroute",
									"routes": [
									{{ '{' }}	
											"handle": [
											{{ '{' }}	
													"handler": "file_server",
													"hide": [
														"test/config-caddy"
													],
													"root": "{{ vhost.html_root }}"
											{{ '}' }}	
											]
									{{ '}' }}	
									]
							{{ '}' }}	
							],
							"terminal": true
						{{ '}' }}
						{%- if not loop.last %},{% endif %}
						{%- endfor %}
					],
					"tls_connection_policies": [
						{% for vhost in hosts %}
						{{ '{' }}	
							"match": {{ '{' }} 
								"sni": [
									"{{ vhost.hostname }}"
								]
							{{ '},' }}	
							"certificate_selection": {{ '{' }} 
								"any_tag": [
									"cert{{ vhost.hostname }}"
								]
							{{ '}' }}	
						{{ '}' }}
						{%- if not loop.last %},{% endif %}
						{%- endfor %}
					],
					"strict_sni_host": {% if strict_sni %}true{% else %}false{% endif %}
				{{ '}' }}
				{%- if not loop.last %},{% endif %}
				{%- endfor %}
{% raw %}
			}
		},
		"tls": {
			"session_tickets": {
				"key_source": {
					"provider": "distributed",
					"storage": {
						"module": "file_system",
						"root": "/steks"
					}
				},
				"max_keys": 1,
				"disable_rotation": true
			},
			"certificates": {
{% endraw %}
				"load_files": [
					{%- for vhost in vhosts %}
					{{ '{' }}
						"certificate": "{{ vhost.cert }}",
						"key": "{{ vhost.cert_key }}",
						"tags": [
							"cert{{ vhost.hostname }}"
						]
					{{ '}' }}
					{%- if not loop.last %},{% endif %}
					{%- endfor %}
{% raw %}
				]
			},
			"automation": {
				"policies": [
					{
						"disable_ocsp_stapling": true
					}
				]
			},
			"disable_ocsp_stapling": true
		}
	}
}
{% endraw %}
