{
      ocsp_stapling off #we don't need to revoke our own certificates here
	  log default {
		  output stdout
		  level DEBUG
	  }
}
{%- for vhost in vhosts %}
{{ vhost.hostname }}:{{ vhost.port }} {
      tls {{ vhost.cert}} {{ vhost.cert_key }}
      file_server {
          root {{ vhost.html_root }}
      }
}
{%- endfor %}