<?xml version="1.0" encoding="UTF-8"?>
<httpServerConfig>
  <serverName>$HOSTNAME</serverName>
  <user>nobody</user>
  <group>nogroup</group>
  
  <mime>$SERVER_ROOT/conf/mime.properties</mime>
  <logging>
    <log>
      <fileName>$SERVER_ROOT/logs/error.log</fileName>
      <logLevel>INFO</logLevel>
    </log>
    <accessLog>
      <filename>$SERVER_ROOT/logs/access.log</filename>
      <logLevel>INFO</logLevel>
    </accessLog>
  </logging>
  <indexFiles>index.html, index.php</indexFiles>
  <htAccess></htAccess>
  <expires></expires>
  <tuning>
    <sslSessionTicketKeyFile>{{ stek_path }}</sslSessionTicketKeyFile>
    {% if strict_sni %}
    <sslstrictsni>1</sslstrictsni>
    {% endif %}
  </tuning>
  <security><CGIRLimit></CGIRLimit><accessControl></accessControl></security>
  <phpConfig></phpConfig>
  <railsDefaults></railsDefaults>

  <virtualHostList>
{%- for vhost in vhosts %}
    <virtualHost>
      <name>{{ vhost.hostname }}</name>
      <vhRoot>$SERVER_ROOT/conf/vhosts/{{ vhost.hostname }}</vhRoot>
      <configFile>$VH_ROOT/vhconf.xml</configFile>
    </virtualHost>
{%- endfor %}
</virtualHostList>

  <listenerList>
    {% for port in vhosts|map(attribute="port")|unique %}
    <listener>
      <name>HTTPS{{port}}</name>
      <address>*:{{port}}</address>
      <secure>1</secure>
      <vhostMapList>
        {%- for vhost in vhosts %}
        {%-if vhost.port == port-%}
        <vhostMap>
          <vhost>{{ vhost.hostname }}</vhost>
          {# if the vhost is the first in the list, it is the default vhost #}
          {%- if loop.first %}
          <domain>*</domain>
          {%- else %}
          <domain>{{ vhost.hostname }}</domain>
          {%- endif %}
        </vhostMap>
        {%-endif %}
        {%- endfor %}
      </vhostMapList>

      <keyFile>/certs/fallback.key</keyFile>
      <certFile>/certs/fallback.crt</certFile>
    </listener>
    {% endfor %}
  </listenerList>
  
  <vhTemplateList></vhTemplateList>
</httpServerConfig>
