# {{comment}}

## boilerplate
user                      nobody
group                     nogroup
mime                      conf/mime.properties

errorlog logs/error.log {
  logLevel                DEBUG
  debugLevel              0
  rollingSize             10M
  enableStderrLog         1
}

accesslog logs/access.log {
  rollingSize             10M
  keepDays                30
  compressArchive         0
}
indexFiles                index.html, index.php

fileAccessControl  {
  requiredPermissionMask  000
  restrictedPermissionMask 000
}

## end boilerplate

tuning  {
  sslSessionTicketKeyFile {{ stek_path }}
  quicEnable              0
}

{%- for vhost in vhosts %}
virtualhost {{ vhost.hostname }} {
  vhRoot                  /tmp/
  docRoot                 {{ vhost.html_root }}
  {%- if vhost.stek_path %}
  # not supported :(
  sslSessionTicketKeyFile {{ vhost.stek_path }};
  {%- endif %}

  vhssl  {
    certFile                {{ vhost.cert }}
    keyFile                 {{ vhost.cert_key }}
  }
}
{%- endfor %}

{% for port in vhosts|map(attribute="port")|unique %}
listener HTTPS{{port}} {
  address                 *:{{port}}
  secure                  1
  keyFile                 /certs/fallback.key
  certFile                /certs/fallback.crt

  {% for vhost in vhosts %}
    {%-if vhost.port == port-%}
  map                     {{ vhost.hostname }} {{ vhost.hostname }}
    {%-endif %}
  {% endfor %}
}
{% endfor %}
